.lp-advantages-10 {
	padding: 48px 0;
}

.lp-advantages-10 .lp-block-overlay {
	background: rgba(68,68,68,0.05);
}

.lp-advantages-10__title {
	text-align: center;
	margin: 0 0 32px;
}

.lp-advantages-10__item {
	padding: 0 0 16px;
	box-sizing: border-box;
}

.lp-advantages-10__item-inner {
	background: #fff;
	padding: 24px 16px;
	width: 100%;
	box-sizing: border-box;
	text-align: center;
}

.lp-advantages-10__item-title, .lp-advantages-10__item-text {margin: 0; padding: 0;}

.lp-advantages-10__item-title {
	letter-spacing: 0.02em;
}

.lp-advantages-10__item-text {
	letter-spacing: 0.01em;
}

.lp-advantages-10__item-title + .lp-advantages-10__item-text {
	padding-top: 8px;
}

.lp-advantages-10__button-wrapper {
	padding-top: 16px;
	text-align: center;
}

.lp-advantages-10__button {
	display: block;
	margin: 0 0 16px;
}

._left .lp-advantages-10__button-wrapper, 
._left .lp-advantages-10__title,
._left .lp-advantages-10__item-inner {
	text-align: left;
}

._left .lp-advantages-10__title {margin-left: 0;}

._right .lp-advantages-10__button-wrapper, 
._right .lp-advantages-10__title, 
._right .lp-advantages-10__item-inner {
	text-align: right;
}

._right .lp-advantages-10__title {margin-right: 0;}

._left .lp-advantages-10__list {
	justify-content: flex-start;
}
._right .lp-advantages-10__list {
	justify-content: flex-end;
}

@media all and (min-width: 600px) {
	.lp-advantages-10 {
		padding: 64px 0;
	}
	
	.lp-advantages-10__title {
		margin: 0 0 48px;
	}
	
	.lp-advantages-10__item {
		padding: 0 12px 24px;
		flex: 1 0 35%;
		max-width: 50%;
		display: flex;
	}
	
	.lp-advantages-10__item-inner {
		padding: 32px 16px;
	}
	
	.lp-advantages-10__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0 -12px;
	}
	.lp-advantages-10__button-wrapper {
		padding-top: 24px;
	}
	
	.lp-advantages-10__button {
		display: inline-block;
		margin: 0 8px 16px;
	}
	
	.lp-advantages-10__button .lp-button__text {
		min-width: 208px;
	}
}

@media all and (min-width: 960px) {
	.lp-advantages-10__item {
		padding: 0 24px 48px;
		flex: 1 0 26%;
		max-width: 33.34%;
	}
	
	.lp-advantages-10__list {
		margin: 0 -24px;
	}
	
	.lp-advantages-10__button-wrapper {
		padding-top: 0;
	}
}

@media all and (min-width: 1200px) {
	.lp-advantages-10 {
		padding: 80px 0;
	}
	
	.lp-advantages-10__title {
		margin: 0 auto 64px;
		max-width: 848px;
	}
	
	.lp-advantages-10__item {
		padding: 0 12px 32px;
	}
	
	.lp-advantages-10__item-inner {
		padding: 32px;
	}
	
	.lp-advantages-10__list {
		margin: 0 -12px;
	}
	
	.lp-advantages-10__button-wrapper {
		padding-top: 32px;
	}
	
	._4 .lp-advantages-10__item {
		flex: 1 0 21%;
		max-width: 25%;
	}
	
	._4 .lp-advantages-10__item-inner {
		padding: 32px 24px;
	}
}

@media all and (min-width: 1380px) {
	.lp-advantages-10__item {
		padding: 0 16px 32px;
	}
	
	.lp-advantages-10__button-wrapper {
		padding-top: 32px;
	}
}