.lp-form-3 {
	padding: 48px 0 0;
}

.lp-form-3._is-cms {
	padding: 48px 0;
	display: flex;
    justify-content: center;
}

.lp-form-3__inner {
	background: #fff;
	padding: 16px;
	margin: 0 auto;
	position: relative;
	box-sizing: border-box;
}

.lp-form-3__close {
	display: block;
	position: absolute;
	right: 0;
	top: -40px;
	cursor: pointer;
	width: 32px;
	height: 32px;
}

.lp-form-3__close ._close-line {
	width: 2px;
	height: 20px;
	background: #fff;
	position: absolute;
	left: 15px;
	top: 6px;
	display: block;
}

.lp-form-3__close ._close-line:first-child {transform: rotate(45deg)}
.lp-form-3__close ._close-line:last-child {transform: rotate(-45deg)}

.lp-form-3__close path {fill: #fff;}

.lp-form-3__title-wrapper {
	text-align: center;
	padding-bottom: 24px;
}

.lp-form-3__title, .lp-form-3__subtitle {
	margin: 0;
	padding: 0;
}

.lp-form-3__title + .lp-form-3__subtitle {
	padding-top: 8px;
}

.lp-form-3 .lp-form-tpl__button-wrapper {
	text-align: center;
}

.lp-form-3 .lp-form-tpl__button {width: 100%;}

.lp-form-3 .lp-form-tpl__button .lp-button__text {min-width: 178px;}

@media all and (min-width: 600px) {
	.lp-form-3__inner {
		width: 376px;
		padding: 32px;
	}
	
	.lp-form-3__title-wrapper {
		padding-bottom: 32px;
	}
	
}

@media all and (min-width: 960px) {
	.lp-form-3__inner {
		width: 592px;
	}
	
	.lp-form-3 .lp-form-tpl__button {width: auto;}
}

@media all and (min-width: 1200px) {
	.lp-form-3__inner {
		width: 564px;
	}
}

@media all and (min-width: 1380px) {
	.lp-form-3__inner {
		width: 628px;
	}
}