* {
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: 'Circ', Arial, sans-serif;
    color: gray;
    margin: 0;
    padding: 0;
}

body {
    margin: 20px 0 20px 0;
}


/* .main {
    background-color: gray;
} */

img {
    width: 100%;
    height: auto;
    /* background-size: contain; */
}

a {
    text-decoration: none;
}


/* MENU */

.menu {
    margin: 0;
    padding: 0;
    background: #fff;
}

.menu a {
    color: #202020;
}

.menu>.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #ffea00;
    top: 0px;
    right: 0px;
    bottom: 0;
    left: 0;
    height: 75px;
}

.menu>.row>.col:nth-child(1) {
    font-size: 25px;
    font-weight: bold;
    color: #202020;
    text-align: center;
    font-family: 'Circ', Arial, sans-serif;
}

.menu>.row>.col:nth-child(3) ul {
    /* padding-left: 300px; */
    /* text-align: right; */
}

.menu ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu ul>li {
    margin-right: 25px;
    text-transform: uppercase;
}

.menu a:hover {
    border-bottom: 1px solid #202020;
    /* color: #202020; */
}


/* HEADER */

.header {
    background: #ffea00;
    background-size: cover;
    display: flex;
    /* flex-direction: column;
    justify-content: center; */
    align-items: center;
    height: 500px;
    color: #202020;
}

.header_name {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    /* width: 800px; */
}

.header_name h2 {
    font-size: 2.5rem;
    font-family: 'Circ', Arial, sans-serif;
    font-weight: 700;
}

.header_name p {
    font-size: 1rem;
    line-height: 1.5;
    font-family: 'Circ', Arial, sans-serif;
}

.header_name h2,
.header_name p {
    color: #202020;
    /* text-align: center; */
}

.header_name button {
    margin: 0 auto;
    width: 275px;
    height: 50px;
    background: none;
    border: 2px solid red;
    margin-top: 50px;
}

.header_name button a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.header_name p span {
    color: #202020;
    border-bottom: 1px solid #202020;
    font-family: 'Circ', Arial, sans-serif;
    font-weight: 600;
}


/* COMMAND */

.command {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-self: center;
    height: 400px;
}

.command_left,
.command_right {
    margin-top: 190px;
    width: 500px;
}

.command_left {
    font-size: 16px;
    line-height: 1.6;
    font-weight: bold;
    color: #212121;
    font-size: 1.75rem;
}

.command_right {
    font-size: 1.25rem;
}


/* PARTt */

.partt {
    margin-bottom: 100px;
}

.partt,
.part_names,
.part_data {
    overflow: hidden;
}

.part_names {
    text-align: center;
    margin-bottom: 50px;
}

.part_names h2 {
    font-family: Montserrat;
    font-weight: 700;
    color: black;
}

.part_data {
    display: flex;
    justify-content: space-between;
}

.part {
    width: 300px;
    display: flex;
    flex-direction: column;
    border: 5px solid #ffea00;
    align-items: center;
    padding: 50px 20px 37px 20px;
    transition-duration: 0.5s;
    border-radius: 5px;
}

.part:hover {
    background: #ffea00;
}

.number {
    background-color: white;
    color: #202020;
    border: 5px solid #ffea00;
    width: 200px;
    height: 200px;
    padding-top: 15px;
    font-size: 100px;
    border-radius: 50%;
    text-align: center;
}

.part>img {
    border-radius: 50%;
}

.part_name {
    color: #202020;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 10px;
}

.part_info {
    color: #202020;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}


/* OTZ */

.otz {
    display: flex;
    justify-content: space-between;
}

.otzs {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 350px;
    background-color: #ececf1;
    padding: 20px 10px;
    color: #202020;
}

.otzs h4 {
    font-weight: bold;
}

.otzs p {
    margin-top: 20px;
    display: block;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-weight: 500;
}

.otzz2 {
    display: none;
}

.points {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.point {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #ffea00;
    border: 2px solid #ffea00;
    margin: 10px;
}

.point1 {
    background: 0;
}

.spacibo {
    text-align: center;
    margin: 50px 0 50px 0;
}


/* PRICE */

.price {
    /* margin-top: 150px; */
    background-color: #ffea00;
    padding: 50px 0;
}

.price h2 {
    color: #202020;
    font-size: 72px;
    font-weight: bold;
    margin-bottom: 50px;
}

.price .tn-span {
    font-size: 22px;
    line-height: 1.2;
    font-weight: 400;
    color: #000;
    margin-bottom: 50px;
}


/* cart-body */

.card {
    width: 500px;
}


/* FOOTER */

.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    /* margin-bottom: 30px; */
}

.footer a {
    color: #ffea00;
}